---
---

// Primary MinneHack style file. Everything gets compiled into here.
   This should contain mostly configuration; actual styling gets
   put into /_sass

@charset "utf-8"

$primary-color: #fed136
$secondary-color: #fec503
$secondary-dark-color: #333
$light-color: #f8f8f8

@import agency
@import general
@import about, sponsors, custom, header, navbar, footer

