<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What is MinneHack?</h2>
                    <h3 class="section-subheading text-muted">Only the largest hackathon in the Twin Cities.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">24 Hours</h4>
                    <p class="text-muted">Teams have 24hrs to identify a problem, implementation a technical solution, and pitch it industry professionals.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Great Prizes</h4>
                    <p class="text-muted">Thousands of dollars in prizes means good work gets rewarded.  Better yet: <strong>each member of a winning team gets their own prize.</strong></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Totally Free</h4>
                    <p class="text-muted">We provide meals, transportation to/from select schools, swag, and an awesome experience! It's all entirely free as long as you're currently a student.</p>
                </div>
            </div>
            <div class="row text-center">
                <!-- Center the MLH partner section -->
r               <div class="col-md-4" style="float: none; margin: auto">
                    <img src="../img/mlh-logo.png" class="img-responsive"></i>
                    <h4 class="section-heading">Partnered with MLH</h4>
                    <p class="section-subheading text-muted">We're set to be better than ever, having officially been sanctioned by Major League Hacking, a premier Hackathon community organization</p>
                </div>
            </div>
        </div>
    </section>
