<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">Questions? Comments? Concerns?</h3>
        <h3 class="section-subheading text-muted">Send us a message to let us know!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form name="sentMessage" id="contactForm" class="text-center">
          <!--
              Using asterisks here for indicating required fields is
              _not_ ideal; neither are the <b> tags surrounding them.
              Should replace this with more responsive indicator of
              invalidity.
            -->          
          <div class="form-group">
            <label for="contact-email">Your E-mail Address<b>*</b></label>
            <input required type="email" name="email" id="contact-email"
                   class="form-control" placeholder="Email Address">
          </div>
          <div class="form-group">
            <label for="contact-subject">Subject</label>
            <input type="text" name="subject" id="contact-subject"
                   class="form-control" placeholder="Subject">
           </div>
          <div class="form-group">
            <label for="contact-text">Your Message<b>*</b></label>
            <textarea required name="message" id="contact-text"
                      class="form-control" placeholder="Your Message"></textarea>
          </div>
          <div id="contact-status">
            <!-- Will be filled with success/error messages. -->
          </div>
          <aside><small>[*] indicates a required field</small></aside>
          <button type="submit" class="btn btn-xl">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>
