<header>
  <div class="container">
    <div class="intro-text" style="background-image: url(../img/logos/mhlogo.png); background-repeat: no-repeat; background-position: center center;">
      <div class="intro-lead-in" style="font-size:28px; line-height:28px; font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;">January 28<sup>th</sup>-29<sup>th</sup>, 2017</div>
      <div class="intro-heading">24 Hours. Great Prizes. Totally Free.</div>
      
      <a href="#register" class="page-scroll btn btn-xl">
        Let's Hack!
      </a>
    </div>
  </div>
</header>
