<!-- About Section -->
    <section id="prizes">
        <div class="container" style="color: #bcbcbc">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hackathon Prizes</h2>
                    <h3 class="section-subheading">
                      In order to give our winners some options, each member of
                      the winning teams can choose from a few tier-specific
                      options. 
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <span class="text-muted"> 
                    <h4>Each member of the first place team may choose between:</h4>
                </span>
                <div class="col-lg-12">
                  <h3>
                    <ul>
                      <li>Printrbot Assembled Metal Simple 3D Printer <br>
                      <li>Parrot AR.Drone 2.0 GPS Edition Quadricopter
                    </ul>
                  </h3>
                </div>
            </div>
            <br> <br>
            <div class="row text-center">
                <span class="text-muted"> 
                    <h4>Each member of the second place team may choose between:</h4>
                </span>
                <div class="col-lg-12">
                  <h3>
                    <ul>
                      <li>Oculus Rift DK2
                      <li>GoPro HERO4: Silver Edition 
                    </ul>
                  </h3>
                </div>
            </div>
            <br> <br>
            <div class="row text-center">
                <span class="text-muted"> 
                    <h4>Each member of the third place team may choose between:</h4>
                </span>
                <div class="col-lg-12">
                  <h3>
                    <ul>
                      <li> Sennheiser HD 598 Over-Ear Headphones
                      <li> UE BOOM Wireless Bluetooth Speaker
                      <li> GoPro HERO3+: Silver Edition
                    </ul>
                  </h3>
                </div>
            </div>
        </div>
    </section>
