<section class="index-section container-fluid text-center" id="register">
  <h2 class="section-heading">Registration</h2>
  <form id="registration-form" class="container">
    <div class="form-group">
      <span data-toggle="tooltip" data-placement="right"
            title="The name on your student ID.
                   You'll need to present a valid student ID when
                   you come to MinneHack.">
        <label for="registration-name">Name on identification</label>
        <span class="fa fa-question-circle fa-lg"></span>
      </span>

      <input type="text" id="registration-name" name="name"
             class="form-control" placeholder="Joseph Smith"
             required>
    </div>
    <div class="form-group">
      <label for="registration-pname">Preferred name</label>
      <input type="text" id="registration-pname" name="pname"
             class="form-control" placeholder="Joe">
    </div>
    <div class="form-group control-group">
      <label for="registration-email">Email address</label>
      <div class="controls">
        <input type="email" id="registration-email" name="email"
               class="form-control" placeholder="joe.smith@email.com"
               required>
        <p class="help-block">
          <!-- Gets filled with help messages from validation. -->
        </p>
      </div>
    </div>
    <div class="form-group control-group">
      <label for="registration-resume">Résumé (max size 2MB)</label>
      <div class="controls">
        <input type="file" id="registration-resume" name="resume"
               data-validation-callback-callback="resumeValidation"
               class="form-control">
        <p class="help-block">
          <!-- Gets filled with help messages from validation. -->
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="registration-school">School</label>
      <select class="form-control" id="registration-school" name="school">
        <option>University of Minnesota, Twin Cities</option>
        <option>University of Minnesota, Duluth</option>
        <option>University of Minnesota, Morris</option>
        <option>University of Minnesota, Rochester</option>
        <option>University of Minnesota, Crookston</option>
        <option>Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="registration-school-other">School Name (Other)</label>
      <input type="text" id="registration-school-other" name="school-other"
             class="form-control">
    </div>
    <div id="registration-status">
      <!-- Will be filled with loading spinner/status messages. -->
    </div>
    <button type="submit" class="btn btn-xl">
      Sign me up!
    </button>
  </form>
</section>
