<!-- Clients Aside -->
    <section id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                    <h4 class="section-subheading text-muted"><a href="../sponsorship">Become a Sponsor Today!</a></h4>
                </div>
            </div>
            <div class="row padded-row">
                <div class="col-lg-12">
                    <img src="img/logos/target-200.jpg" class="img-centered sponsor-partner" alt="">
                </div>
            </div>
            <div class="row padded-row">
                <div class="col-sm-6 col-xs-12">
                    <img src="img/logos/veritas-logo.jpg" class="img-centered sponsor-t1" alt="">
                </div>
                <div class="col-sm-6 col-xs-12">
                    <img src="img/logos/compellent-logo.jpg" class="img-centered sponsor-t1" alt="">
                </div>
            </div>
            <div class="row padded-row">
                <div class="col-6">
                    <img src="img/logos/pearson-logo.jpg" class="img-centered sponsor-t2" alt="">
                </div>
            </div>
            <div class="row padded-row">
              <div class="col-sm-4 col-xs-6">
                <img src="img/logos/epicJPG.jpg" class="sponsor-t3 img-centered" alt="">
              </div>
              <div class="col-sm-4 col-xs-6">
                <img src="img/logos/mavconsulting.jpg" class="sponsor-t3 img-centered" alt="">
              </div>
              <div class="col-sm-4 col-xs-6">
                <img src="img/logos/concord-logo.png" class="sponsor-t3 img-centered" alt="">
              </div>
            </div>
    </section>
