// Registration stylings.
    
section#register
  background-color: $primary-dark-color
  background-image: url(../img/patterns/footer_lodyas.png)
  background-position: center
  color: $primary-light-color

  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
    text-transform: uppercase
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
    font-weight: 700
    color: #bbb

  .text-danger
    color: #e74c3c