// Registration stylings.
    
section#register
  background-color: $primary-dark-color
  background-image: url(../img/patterns/footer_lodyas.png)
  background-position: top center
  color: $primary-light-color

  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
    text-transform: uppercase
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
    font-weight: 700
    color: #bbb

  form
    margin-top: 50px

    #registration-status
      margin-top: 25px

    button[type=submit]
      margin-top: 25px

.alert-success
  background-color: #66cc44