/* CUSTOM CSS */

article {
    max-width: 768px;
    margin-top: 30px;
}

article section {
    padding: 0px;
}

.sponsors {
    text-align: center;
    margin-top: 20px;
}

.sponsors div {
    border-radius: 0.5em;
    border: 5px solid #eee;
}

.sponsors div a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.sponsors div a img {
    display: table;
    position: absolute;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}

#partners div {
    height: 400px;
}

#t1-sponsors div {
    height: 300px;
}

#t2-sponsors div {
    height: 200px;
}

.panel-heading {
    color: black !important;
}

textarea {
    min-height: 150px;
}

.progress-anim {
    width: 25px;
    height: 25px;
    border: 10px solid #e8e8e8;
    border-top: 10px solid #222;
    border-left: 10px solid #222;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
